<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apphost.cloud.lan/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>apphost.cloud.lan</MSDeployServiceURL>
    <DeployIisAppPath>apphost</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>JVC\Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Model1" Order="1" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=SharePointAppProdDeployment_TESTWeb.Models.Model1;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=.;Initial Catalog=SharePointAppProdDeployment_TESTWeb.Models.Model1;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SharePointAppProdDeployment_TESTWeb.Models.Model1, SharePointAppProdDeployment-TESTWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MsDeployDeclareParameters Include="ClientId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
      <Description>Value for ClientId here.</Description>
      <DefaultValue>b4ca8652-b286-4e9d-8180-38825ff96744</DefaultValue>
      <Value>b4ca8652-b286-4e9d-8180-38825ff96744</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSigningCertificatePath">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSigningCertificatePath']/@value</Match>
      <Description>Value for ClientSigningCertificatePath here.</Description>
      <DefaultValue>d:\temp\TrustedTokenIssuerCertificate.pfx</DefaultValue>
      <Value>d:\temp\TrustedTokenIssuerCertificate.pfx</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSigningCertificatePassword">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSigningCertificatePassword']/@value</Match>
      <Description>Value for ClientSigningCertificatePassword here.</Description>
      <DefaultValue>Start123</DefaultValue>
      <Value>Start123</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="IssuerId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='IssuerId']/@value</Match>
      <Description>Value for IssuerId here.</Description>
      <DefaultValue>5270c1b2-e61b-4d6c-b5ef-cfca591cd905</DefaultValue>
      <Value>5270c1b2-e61b-4d6c-b5ef-cfca591cd905</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
  </ItemGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Model1-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=SharePointAppProdDeployment_TESTWeb.Models.Model1;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>